CodigosPC/build/*

CodigosPC/models/midas/model-f6b98070.onnx
CodigosPC/models/midas/dpt_hybrid_384_sim.onnx



CodigosPC/libs/libtorch/*
CodigosPC/libs/Depth-Anything-V2
CodigosPC/libs/onnxruntime-linux-x64-gpu-1.22.0
