Codigos_PC/build/*

Codigos_PC/models/midas/model-f6b98070.onnx
Codigos_PC/models/midas/dpt_hybrid_384_sim.onnx


Codigos_PC/libs/libtorch/*
Codigos_PC/libs/Depth-Anything-V2
Codigos_PC/libs/onnxruntime-linux-x64-gpu-1.22.0
